# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

.idea/
.ionic/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
coverage/
tmp/
temp/
platforms/
plugins/
plugins/android.json
plugins/ios.json
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate

udagram-api/node_modules
udagram-api/Archive.zip
udagram-api/www
udagram-api/yarn.lock
udagram-api/yarn-error.log

udagram-frontend/node_modules
udagram-frontend/www
udagram-frontend/yarn.lock
udagram-frontend/yarn-error.log

.env

